.huvudrubrik{
   
    background: beige;
    top: 40px;  
    width: 100vw;
    justify-content: left;
    align-items: center;
    border-bottom: 3px black solid;
    border-top: 3px black solid;
    
}

body{
    margin: 0;
    padding: 0;
}

.bild{
    position: absolute;
    justify-content: right;
    top: 35px;
    right: 35px;
    
}

.rubrik{
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.text1{
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: larger;
}

.lista{
    

    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-size: small;
    justify-content: center;
    margin-left: 20%;
    
    
    
}
.lista2{
    
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-size: small;
    justify-content: center;
    margin-left: 50%;
    
    
}
.Godis{
    margin-left: 5%;
    
}
.Chips{
    margin-left: 10%;
    
}
ul{
    margin-left: 40px;
    font-size: larger;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
}
.knapp1{

    justify-content: right;
   
    font-size: larger;
    position: absolute; top: 35%;
    margin-left: 80%;


}
.bild2{
   
    justify-content: right;
    float: right;
    margin-right: 10vw;
    margin-bottom: 20px;
}
